.Habit{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: rgba(238, 224, 32, 0.856);
  color: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 450px;
  height: 100px;
  margin: 5px;

  transition: all 2s ease-out;
}

.Shine{
  background-color: rgba(173, 169, 169, 0.7);
}

.HabitLeft{
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
height: 80%;
width: 80px;
border-radius: 10px;
margin-left: 10px;
background-color: rgba(255,255,255,0.8);
}

.HabitLeft img{
  width: 70%;
  height: auto;
  filter: invert(50%);

}

.HabitCenter{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  width: calc(100% - 120px);

  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.Title{
  margin: 0;
  margin-top: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 600;
  width: 100%;
  vertical-align: bottom;
}

.Subtitle{
  margin-top: 0;
  margin-top: 5px;
  font-size: 0.8rem;
  box-sizing: border-box;
}

.HabitRight{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  box-sizing: border-box;
  height: 80%;
  width: 40px;
  margin-right: 15px;

}

.Streak{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1rem;
  background-color: rgba(255,255,255,0.75);;
  height: 1rem;
  width: 30px;
  border-radius: 25px;
  padding: 2px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
}

.HabitDeletionBtn{
  background: none;
  border: none;
  cursor: pointer;
}


.HabitDeletionBtn img{
  width: 100%;
  height: auto;
  filter: invert(20%) opacity(70%);
}

.HabitDeletionBtn img:hover{
  filter:  opacity(90%);
}


.HabitDeletionBtn .CheckmarkCompleted{
  filter: invert(0%);
}

.HabitDeletionBtn .CheckmarkCompleted:hover{
  filter: brightness(125%);
}
