.Snackbar{
  box-sizing: border-box;
  position: fixed;
  right: 5vw;
  
  z-index: 100;
  
  width: 240px;
  height: 80px;

  background-color:#5B9EA6;
  

  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #3C5973;
  transition: opacity 3.5s ease-out;
}

.Snackbar p{
  font-size: 0.8rem;
  padding: 0px;
  box-sizing: border-box;
  color: #fff;
}

.Snackbar button{
  box-sizing: border-box;
  border: none;
  background: none;
  color:rgba(168, 230, 86, 1);
  font-weight: 600;
  cursor: pointer;
}

.Snackbar.Disappear{
  opacity: 0;
}

@media(max-width: 450px){
  .Snackbar{
    width: 90vw;
    height: 80px;
    background-color:#5b9fa6;
  }
}