.TodayHabits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noHabitsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}